.wrapper {
  margin: 0 auto;
  max-width: 46rem;
}

.inputWrapper {
  margin-top: -1.687rem;
  display: flex;
  flex-direction: row;
}

.inputWrapper button {
  background: var(--blue-dark);
  border-radius: 0.5rem;
  border: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 5.625rem;

  padding: 1rem;
  margin-left: 0.5rem;

  color: var(--gray-100);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
  
  transition: all .2s;
}

.inputWrapper button:hover {
  background: var(--blue);
}

.inputWrapper button > svg {
  margin-left: 0.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 4rem 0;
}

.headerWrapper {
  height: 1.18rem;
}

.headerWrapper strong {
  color: var(--blue);
  font-size: 0.875rem;
}

.headerWrapper:last-child strong {
  color: var(--purple);
}

.headerWrapper span {
  margin-left: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.125rem 0.5rem;
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 999px;
}

.list {
  margin: 1.5rem 0;
}

.listEmpty {
  margin: 1.5rem 0;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid var(--gray-400);
}

.listEmpty > strong {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

.listEmpty > strong {
  font-size: 1rem;
  line-height: 1.4;
}